@charset "UTF-8";
a {
	text-decoration: none;
	color: black;
}
.nav-area {
	width: 100%;
	background-color: rgb(74, 87, 51);
	color: white;
	text-align: center;
	height: 50px;
}
.nav-area td {
	width: 25%;
}
.nav-area td:hover {
	color:yellow;
	cursor: pointer;
}
.imgwrap {
	text-align: center;
	margin-top: 50px;
}