<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="/webjars/jquery/3.7.1/jquery.js"></script>
<link href="/css/index.css" rel="stylesheet">
<title>MENU RESTful API</title>
<style>
	#list-area {
		border: 1px solid;
		border-collapse:collapse;
	}
	#list-area th, #list-area td {
		border: 1px solid;
		text-align:center;
		height: 30px;
	}
	.btn {
		padding: 5px 15px;
		border-radius : 4px;
		width : 100px;
	}
</style>
</head>
<body>
<!-- 
	GET /menu				: 전체메뉴조회
	GET /menu/type/kr		: 한식만 조회
	GET /menu/type/ch		: 중식만 조회
	GET /menu/type/jp		: 일식만 조회
	GET /menu/taste/mild		: 순한맛만 조회
	GET /menu/taste/hot		: 매운맛만 조회
	GET /menu/10				: 10번메뉴 하나만 조회(한건 조회)
	
	POST /menu				: 메뉴 한건 등록
	
	PUT	  /menu				: 메뉴 한건 전체수정
	PATCH /menu 				: 메뉴 한건 일부분만 수정
	
	DELETE	/menu/10			: 메뉴 한건 삭제
 -->
 	<div th:replace="~{ fragments/header.html :: fragment-menu }"></div>
	<h2 align="center">MENU RESTful API</h2>
	<br>
	<div align="center">
		<!-- 1. GET /menu : 전체메뉴조회 -->
		<div>
			<h3>전체메뉴</h3><br>
			<button type="button" id="menuAllList" class="btn">조 회</button>
		</div><br>
		<div id="menu-result"></div>
		<hr>
		
		<script>
			$("#menuAllList").on('click', () => {
				$.ajax({
					url: '/menu',
					success:function(result) {
						console.log(result);
						menuTable("#menu-result", result);
					},
					error:console.log
				})
			})
		</script>
		
		<!-- 2. GET /menu/type/kr, /menu/type/ch, /menu/type/jp -->
		<div>
			<h3>메뉴 타입별 조회</h3>
			<select id="typeSelect">
				<option value="" disabled selected>선택안함</option>
				<option value="KR">한식</option>
				<option value="CH">중식</option>
				<option value="JP">일식</option>
			</select>
		</div><br>
		<div id="menuType-result"></div>
		<hr>
		<script>
			$("#typeSelect").on('click', e => {
				console.log(e.target.value);
				$.ajax({
					url: `/menu/type/${e.target.value}`,
					success (result) {
						console.log(result);
						menuTable("#menuType-result", result);
					},
					error : console.log
				})
			})
		</script>
		
		<!-- 3. GET   /menu/type/KR/teast/MILD -->
		<div>
			<h3>메뉴 타입과 맛별 조회</h3>
			<form name="typeTaste" id="typeTaste"><br>
				<input type="radio" name="type" value="KR">한식
				<input type="radio" name="type" value="CH">중식
				<input type="radio" name="type" value="JP">일식
				&emsp;<span>|</span>&emsp;
				<input type="radio" name="taste" value="MILD">순한맛
				<input type="radio" name="taste" value="HOT">매운맛
				<br><br>
				<button class="btn" id="typeTasteBtn">조 회</button>
			</form>
		</div><br>
		<div id="menuTypeTaste-result"></div>
		<hr>
		
		<script>
			$("#typeTaste").on('submit', e => {
				e.preventDefault();
				const type = e.target.type.value;
				const taste = e.target.taste.value;
				$.ajax({
					url: `/menu/type/${type}/taste/${taste}`,
					success (result) {
						menuTable("#menuTypeTaste-result", result);
					},
					error : console.log
				})
			})
		</script>
		
		<!-- /menu/10   10번 메뉴 하나만 가져오기 -->	
		<div>
			<h3>ID로 검색</h3>
			<input name="id" id="id"><br><br>
			<button class="btn" id="idSelect">조 회</button>
		</div><br>
		<div id="idSelect-result"></div>
		<hr>
		
		<script>
			$("#idSelect").on('click', () => {
				const value = $("#id").val();
				$.ajax({
					url: `/menu/${value}`,
					success(result) {
						console.log(result);
						oneTable("#idSelect-result", result);
					},
					error(jqXHR, textStatus, errorMsg) {
						// jquery ajax의 error은 jqXHR, textStatus, errorMsg 의 3개의 파라미터 제공
						/*
						- jqXHR 파라미터
						  비동기 처리하는 주 객체는 XMLHttpRequest를 json으로 처리한 것이 첫번째 인자로 들어옴
						  > jqXHR.status : 500
						  > jqXHR.statusText : "error"
						  > jqXHR.responseText : url의 full response(url의 반환된 결과들)
						*/
						console.log(`jqXHR : ${jqXHR}`);
						console.log(`jqXHR.status : ${jqXHR.status}`);
						console.log(`jqXHR.statusText : ${jqXHR.statusText}`);
						
						console.log(`textStatus : ${textStatus}`);
						console.log(`errorMsg : ${errorMsg}`);
						
						if(jqXHR.status == 404) {
							$('#idSelect-result').html(`<p style="color:red">해당 ID는 없습니다</p>`);
						}
					}
				})
			})
		</script>
		
		<!-- 5. POST /menu : 메뉴 한건 등록 -->
		<div>
			<h3>메뉴 등록(POST)</h3>
			<form name="menuEnrollFrm" id="menuEnrollFrm">
				음식점 : <input name="restaurant" required><br>
				메뉴명 : <input name="name" required><br>
				가 &ensp;격 : <input type="number" name="price" required><br>
				<input type="radio" name="type" value="KR">한식
				<input type="radio" name="type" value="CH">중식
				<input type="radio" name="type" value="JP">일식
				<br>
				<input type="radio" name="taste" value="MILD">순한맛
				<input type="radio" name="taste" value="HOT">매운맛
				<br><br>
				<button class="btn">등 록</button>
			</form>
		</div><br>
		<hr>
		
		<script>
			$('#menuEnrollFrm').on('submit', e => {
				e.preventDefault();
				const menu = {
					restaurant : e.target.restaurant.value,
					name : e.target.name.value,
					price : e.target.price.value,
					type : e.target.type.value,
					taste : e.target.taste.value,
				};
				$.ajax({
					url : `/menu`,
					method : 'POST',
					data : JSON.stringify(menu),
					contentType : 'application/json; charset=utf-8',
					success(result, textStatus, jqXHR) {
						console.log(`result : ${result}`);
						console.log(`textStatus : ${textStatus}`);	// success
					},
					error: console.log
				})
			})
		</script>
		
		
		
		<script type="text/javascript">
			const menuTable = (selector, data) => {
				const container = document.querySelector(selector);
				let value = `<table id="list-area" align="center">
								<thead>
									<tr>
										<th width="50px">번호</th>
										<th width="100px">메뉴명</th>
										<th width="70px">가격</th>
										<th width="80px">레스토랑명</th>
										<th width="70px">맛</th>
										<th width="70px">종류</th>
									</tr>
								</thead>
								<tbody>
							`;
				data.forEach(item => {
					value += `<tr>
								<td>${item.id}</td>
								<td>${item.name}</td>
								<td>${item.price}</td>
								<td>${item.restaurant}</td>
								<td>${item.taste}</td>
								<td>${item.type}</td>
							  </tr>
							`;
				});
				value += `</tbody></table><br>`;
				container.innerHTML = value;
			}
			
			const oneTable = (selector, data) => {
				const container = document.querySelector(selector);
				let value = `<table id="list-area" align="center">
								<thead>
									<tr>
										<th width="50px">번호</th>
										<th width="100px">메뉴명</th>
										<th width="70px">가격</th>
										<th width="80px">레스토랑명</th>
										<th width="70px">맛</th>
										<th width="70px">종류</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>${data.id}</td>
										<td>${data.name}</td>
										<td>${data.price}</td>
										<td>${data.restaurant}</td>
										<td>${data.taste}</td>
										<td>${data.type}</td>
								    </tr>
								 </tbody></table><br>`;
				container.innerHTML = value;
			}
		</script>
	</div>
	<br><br><br><br><br><br><br><br><br><br>
</body>
</html>


